.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarContainer {
  margin: 20px;
}

.event {
  background-color: #03dac5;
  color: #000;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventWork {
  background-color: #bb86fc;
}

.eventPersonal {
  background-color: #cd90a9;
}

.eventOther {
  background-color: #ffb300;
}
